/*------Main Css------ */

body{
    font-family: 'Montserrat', sans-serif;
    color: #575757;
}
h1{
    font-size:50px;
    font-weight:500px;
}
h2{
    font-size:40px;
    font-weight:500px;
}
p{
    margin-right:20%;
    font-weight: 200px;
    line-height: 38px;
}

/*-----Hero Sec Css-----*/
.hero-sec{
    display:flex;
    margin-bottom:180px;
   
    
    
}
.hero-sec-div{
    width: 50%;
    padding:0px 40px;
    margin: 20px;
    margin: auto;

}

.hero-img{
    width:100%;
    
}
.ord-button{
   background-color: red;
    background-image: linear-gradient(to top right, #FBA24F, #FF1E1E);
    border: none;
    padding: 15px 25px;
    border-radius: 50px;
    color: white;
    margin:30px 0px;
}

/*-----About Sec Css-----*/
   
.about-sec{
    display: flex;
   height: 100%;
   
   background-image: url(images/shapes/7.png);
   background-position: right top;
  
   
    
}
.about-sec-div{
    width: 50%;
    margin-top: 150px;
   
   

}
.about-sec-div-cont{
    width:95%;
    margin:110px 50px;
}
.about-sec img{
    width: 60%;
    height: 100%;
    margin-left: 30px;
}
.about-btn{
    background-color: red;
    background-image: linear-gradient(to top right, #FBA24F, #FF1E1E);
    border: none;
    padding: 15px 45px;
    border-radius: 50px;
    color: white;
    margin:30px 0px;
}